<div class="intro-info">
  <div>
    <h1>Fergus Buscall</h1>
    <h2>Software Engineer</h2>
  </div>
  <div class="my-links">
    <a href="https://www.linkedin.com/in/fergusb/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/FergusB00">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</div>
